




.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #111111;
}

.contact-details, .contact-form {
    width: 45%;
    color: #f6f6f6;
    font-family: 'Poppins', sans-serif;

}

.contact-details h2, .contact-form form {
    margin-bottom: 20px;
    color: #ffcb74;
    font-family: 'Poppins', sans-serif;
}

.contact-details a, .contact-form button {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #ffcb74;
   
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

button {
    color: #f6f6f6;
    background-color: #FFD700;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}



